// SUIT
@font-face {
  font-family: 'SUIT';
  src: url('../../fonts/suit/SUIT-Thin.subset.woff2') format('woff2');
  font-weight: 100;
  unicode-range: U+0041-005A, U+0061-007A, U+AC00-D7A3, U+0030-0039, U+0020-002F,
    U+003A-0040, U+005B-0060, U+007B-007E;
}

@font-face {
  font-family: 'SUIT';
  src: url('../../fonts/suit/SUIT-ExtraLight.subset.woff2') format('woff2');
  font-weight: 200;
  unicode-range: U+0041-005A, U+0061-007A, U+AC00-D7A3, U+0030-0039, U+0020-002F,
    U+003A-0040, U+005B-0060, U+007B-007E;
}

@font-face {
  font-family: 'SUIT';
  src: url('../../fonts/suit/SUIT-Light.subset.woff2') format('woff2');
  font-weight: 300;
  unicode-range: U+0041-005A, U+0061-007A, U+AC00-D7A3, U+0030-0039, U+0020-002F,
    U+003A-0040, U+005B-0060, U+007B-007E;
}

@font-face {
  font-family: 'SUIT';
  src: url('../../fonts/suit/SUIT-Medium.subset.woff2') format('woff2');
  font-weight: 400;
  unicode-range: U+0041-005A, U+0061-007A, U+AC00-D7A3, U+0030-0039, U+0020-002F,
    U+003A-0040, U+005B-0060, U+007B-007E;
}

@font-face {
  font-family: 'SUIT';
  src: url('../../fonts/suit/SUIT-Regular.subset.woff2') format('woff2');
  font-weight: 500;
  unicode-range: U+0041-005A, U+0061-007A, U+AC00-D7A3, U+0030-0039, U+0020-002F,
    U+003A-0040, U+005B-0060, U+007B-007E;
}

@font-face {
  font-family: 'SUIT';
  src: url('../../fonts/suit/SUIT-SemiBold.subset.woff2') format('woff2');
  font-weight: 600;
  unicode-range: U+0041-005A, U+0061-007A, U+AC00-D7A3, U+0030-0039, U+0020-002F,
    U+003A-0040, U+005B-0060, U+007B-007E;
}

@font-face {
  font-family: 'SUIT';
  src: url('../../fonts/suit/SUIT-Bold.subset.woff2') format('woff2');
  font-weight: 700;
  unicode-range: U+0041-005A, U+0061-007A, U+AC00-D7A3, U+0030-0039, U+0020-002F,
    U+003A-0040, U+005B-0060, U+007B-007E;
}

@font-face {
  font-family: 'SUIT';
  src: url('../../fonts/suit/SUIT-ExtraBold.subset.woff2') format('woff2');
  font-weight: 800;
  unicode-range: U+0041-005A, U+0061-007A, U+AC00-D7A3, U+0030-0039, U+0020-002F,
    U+003A-0040, U+005B-0060, U+007B-007E;
}

@font-face {
  font-family: 'SUIT';
  src: url('../../fonts/suit/SUIT-Heavy.subset.woff2') format('woff2');
  font-weight: 900;
  unicode-range: U+0041-005A, U+0061-007A, U+AC00-D7A3, U+0030-0039, U+0020-002F,
    U+003A-0040, U+005B-0060, U+007B-007E;
}

// Leferi

@font-face {
  font-family: 'Leferi';
  src: url('../../fonts/leferi/LeferiPointWhite.subset.woff2') format('woff2');
  font-weight: 200;
  unicode-range: U+0041-005A, U+0061-007A, U+AC00-D7A3, U+0030-0039, U+0020-002F,
    U+003A-0040, U+005B-0060, U+007B-007E;
}

@font-face {
  font-family: 'Leferi';
  src: url('../../fonts/leferi/LeferiBaseRegular.subset.woff2') format('woff2');
  font-weight: 400;
  unicode-range: U+0041-005A, U+0061-007A, U+AC00-D7A3, U+0030-0039, U+0020-002F,
    U+003A-0040, U+005B-0060, U+007B-007E;
}

@font-face {
  font-family: 'Leferi';
  src: url('../../fonts/leferi/LeferiBaseBold.subset.woff2') format('woff2');
  font-weight: 600;
  unicode-range: U+0041-005A, U+0061-007A, U+AC00-D7A3, U+0030-0039, U+0020-002F,
    U+003A-0040, U+005B-0060, U+007B-007E;
}

@font-face {
  font-family: 'Leferi';
  src: url('../../fonts/leferi/LeferiPointBlack.subset.woff2') format('woff2');
  font-weight: 900;
  unicode-range: U+0041-005A, U+0061-007A, U+AC00-D7A3, U+0030-0039, U+0020-002F,
    U+003A-0040, U+005B-0060, U+007B-007E;
}
